spring:
  datasource:
    url: jdbc:mysql://springbootproject.c4fwadtpqr2i.ap-northeast-2.rds.amazonaws.com:3306/KimsunwooTest
    username: sunwoo
    password: tjsdn107503
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  devtools:
    livereload:
      enabled: true

cloud:
  aws:
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false
    s3:
      bucket: ${S3_BUCKET}